

<!-- /*         ADD FLIGHT POP-UP        */ -->

<h1 mat-dialog-title>Add Flight</h1>
<div class="mat-dialog-content">
  <form [formGroup]="flightForm">
    <mat-form-field appearance="outline">
        <mat-label>Flight Id</mat-label>
        <input formControlName="flightNumber" matInput placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>From Place</mat-label>
        <input formControlName="flightFromPlace" matInput placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>To Place</mat-label>
        <input formControlName="flightToPlace" matInput placeholder="Placeholder">
      </mat-form-field>
     <mat-form-field appearance="outline">
        <mat-label>Flight Status</mat-label>
        <mat-select formControlName="flightIsActiveYN" matInput placeholder="select">
        <mat-option value="Y">Y</mat-option>
        <mat-option value="N">N</mat-option>
      </mat-select>
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Flight type</mat-label>
    <mat-select formControlName="flightInstrumentUsed" placeholder="select">
        <mat-option value="1">A109</mat-option>
        <mat-option value="2">A122</mat-option>
        <mat-option value="3">A110</mat-option>
        <mat-option value="4">BR56</mat-option>
        <mat-option value="5">D432</mat-option>
        <mat-option value="6">B423</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Shedule Day</mat-label>
    <input formControlName="flighScheduleDays" matInput placeholder="Placeholder">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input #datep formControlName="flightStartDateTime" matInput [matDatepicker]="picker1">
    <mat-hint>YYYY/MM/DD</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field><br>

  <mat-form-field appearance="fill">
    <mat-label>End Date</mat-label>
    <input formControlName="flightEndDateTime" matInput [matDatepicker]="picker2">
    <mat-hint>YYYY/MM/DD</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field><br>
  
  <mat-form-field appearance="outline">
    <mat-label>BusinessClass ticket</mat-label>
    <input formControlName="flightBusinessClassSeat" matInput type="number"  class="example-right-align" placeholder="Placeholder">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Non-businessClass ticket</mat-label>
    <input formControlName="flightEconomyClassSeat" matInput type="number"  class="example-right-align" placeholder="Placeholder">
  </mat-form-field>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Ticket Cost</mat-label>
    <input formControlName="flightTicketCost" matInput type="number" class="example-right-align" placeholder="0">
    <span matPrefix>&#8377;&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
  <!-- <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>NB-Ticket Cost</mat-label>
    <input formControlName="nBcTicketCost" matInput type="number" class="example-right-align" placeholder="0">
    <span matPrefix>&#8377;&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field> -->
    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button mat-raised-button style="margin-left: 8px;" color="primary" (click)="addFlight()" >{{actionBtn}}</button>
    </div>

</form>
</div> 